/*CSS*/

body {
    background-color:#111;
    font-size:18px;
    line-height:133%;
    font-family:"Helvatica", Arial, Sans-Serif;
}
#backgroundImageContainer {
    background-color:#666;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    background:#ddd none no-repeat center center;
    background-size:cover;
}

#pageContentWrapper {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
}


#article {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin:0 auto auto auto;
    justify-content:space-between;
    color:#000;
}

#article__content {
    color:inherit;
    text-align:justify;
    background-color:#fcfcfc;
    flex-basis:60.8%;
    flex-grow:1;
    min-width:98%;
    padding:1em 7%;
    box-sizing:border-box;
    font-size:100%;
    line-height:inherit;
}
#article__content p {
    margin-top:0;
}

#article__sidebar {
    background-color:#fff;
    color:inherit;
    flex-basis:auto;
    min-width:200px;
    flex-grow:1;
    padding:2em 1.5em;
    box-sizing:border-box;
    text-align:justify;
    font-size:95%;
    line-height:inherit;
    border-top:1px solid;
}


header {
    background-color:#f0f0f0;
    display:flex;
    position:relative;
    top:0;
    width:100%;
}

#logo__container {
    max-height:2em;
    padding:.2em .1em 0 .1em;
    display:none;
}
#logo__container img {
    max-height:2.2em;
}
#nav__container {
    display:flex;
    justify-content:space-around;
    flex-grow:1;
    font-size:calc( -0.3833vw + 23.15px );
    width:100%;
    flex-wrap:wrap;
    border-bottom:3px solid #bbb;
    flex-direction:column;
}

#nav__container a {
    text-decoration:none;
}
#nav__container a:hover {
    text-decoration:underline;
}
#nav__container .nav__entry {
    flex-basis:calc(100% / 3);
    justify-content:center;
    display:flex;
    text-align:center;
}
#nav__container .nav__entry__header {
    padding:1em 2em;
    display:block;
    color:#000;
    flex-grow:1;
}
#nav__container .nav__entry:not(:last-of-type) {
    border-bottom:2px solid #ddd;
}
#nav__container .nav__entry__header__text {
    font-size:100%;
    font-family:"Ubuntu";
}
#nav__container .nav__entry__dropdown {
    text-align:left;
    list-style:none;
    display:none;
    background-color:white;
    color:black;
    position:absolute;
    margin-top:2.2em;
    padding:0;
    min-width:10em;
}

footer {
    display:flex;
    background-color:#ccc;
    line-height:175%;
    padding:0 .5em;
    justify-content:space-around;
    font-family:"Ubuntu";
    align-items:center;
    color:#000;
}
footer .footer__text {
    flex-grow:1;
    font-size:90%;
    line-height:inherit;
}
footer #scroll__top {
    margin:0 2em;
    border-radius:0;
    border:solid black;
    border-width:0 1px 0 1px;
    box-sizing:border-box;
    background-image:none;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,.1);
    font-size:inherit;
    line-height:inherit;
    font-family:inherit;
    color:inherit;
}
footer #scroll__top:hover {
    background-color:rgba(255,255,255,.3);
    cursor:pointer;
}
footer .footer__button {
    color:inherit;
}


@media (min-width:800px) {
    #backgroundImageContainer {
        background-image:url("./media/Background.jpg");
    }

    #logo__container {
        display:block;
    }
    #article__content {
        min-width:800px;
    }
    #article {
        margin-top:2em;
        color:#eee;
        width:98%;
    }
    #article__content {
        background-color:rgb(0,0,0);
        background-color:rgba(0,0,0,0.8);
        padding:1.5em 1.25em;
    }
    #article__sidebar {
        flex-basis: 38.2%;
        background-color:rgb(0,0,0);
        background-color:rgba(0,0,0,0.8);
    }
    header {
        position:sticky;
    }
}
@media (min-width:1320px) {
    #article__sidebar {
        background-color:rgba(0,0,0,.8);
        border-color:transparent;
    }
}
@media (min-width:1600px) {
    #article {
        max-width:90%;
    }
    #article__content {
        flex-basis:59.8%;
        margin-right:1%;
    }
}
@media (orientation:landscape) {
    header {
        background-color:#efefef;
    }
    #nav__container {
        flex-direction:row;
        border-bottom-style:none;
    }
    #nav__container .nav__entry:not:(last-of-type) {
        border-color:transparent;
    }
    #nav__container .nav__entry__dropdown {
        display:block;
    }
    #nav__container .nav__entry__header {
        flex-grow:0;
        padding:.6em 0;
    }
    #nav__container .nav__entry__dropdown {
        opacity:0;
        transition: opacity 100ms cubic-bezier(.95,.05,.8,.04) 100ms;
    }
    #nav__container .nav__entry__dropdown li {
        font-size:80%;
    }
    #nav__container .nav__entry__dropdown li a {
        display:block;
        color:black;
        padding:.8em;
    }
    #nav__container .nav__entry__dropdown li:hover {
        box-shadow:0 0 2px #bbb;
    }
    #nav__container .nav__entry__header:hover + .nav__entry__dropdown, #nav__container .nav__entry__dropdown:hover {
        opacity:1;
    }
}
